.idea
.DS_STORE
.project
\#*
ignore_*
.sass-cache/*
.sass-cache
*\~
*.min.*
**/*.min.*
node_modules/*
node_modules
*private*
tests/**/examples
tests/**/examples/*
tests/unit/examples
tests/results/*
**/*.log
**/*.psd
**/*.ai
public/lib/**
!public/lib/*.js

public/css/
public/css/*
public/styleguide/
public/styleguide/*

public/jsdoc/
public/jsdoc/*
tests/coverage/
